<%- include('../partials/admin-header')%>
<section class="content-main">
    <form action="/admin/add-products"  method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <div>
                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                <br>
                <span id="submit-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mb-4">
                        <label for="product_title" class="form-label">Product title</label>
                        <input type="text" placeholder="Type here" class="form-control" name="productname" id="name">
                        <span id="name-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                    </div>
                    <div class="row gx-3">
                        <div class="col-md-4  mb-3">
                            <label for="product_sku" class="form-label"></label>
                            <select name="category"  class="form-control" >
                                <% category.forEach(categories => { %>
                                    <option required><%= categories.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="product_color" class="form-label"></label>
                            <input type="number" placeholder="Quantity" name="quantity" class="form-control" id="quantity">
                            <span id="quantity-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                        </div>
                        <!-- <div class="col-md-4  mb-3">
                            <label for="product_size" class="form-label">Size</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_size">
                        </div> -->
                    </div>
                    <!-- <div class="mb-4">
                        <label for="product_brand" class="form-label">Brand</label>
                        <input type="text" placeholder="Type here" name="Brand" class="form-control" id="product_brand">
                    </div> -->
                </div>
            </div> <!-- card end// -->
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <label class="form-label">Description</label>
                        <textarea placeholder="Type here" id="description"  name="description" class="form-control" rows="4"></textarea>
                        <span id="description-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                    </div>
                </div>
            </div> <!-- card end// -->
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <label class="form-label">Images</label>
                        <input class="form-control" name="image" id="image" type="file">

                        <label class="form-label">Images</label>
                        <input class="form-control" name="image" id="image" type="file">

                        <label class="form-label">Images</label>
                        <input class="form-control" name="image" id="image" type="file">

                        <label class="form-label" >Images</label>
                        <input class="form-control" name="image" id="image" type="file">

                        <span id="image-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                    </div>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mb-4">
                        <label class="form-label">Price</label>
                        <input type="text" placeholder="Type here" id="price" name="price" class="form-control">
                        <span id="price-error" class="validation" style="color: rgb(255, 0, 0)"></span>
                    </div>
                    <!-- <div class="mb-4">
                        <label class="form-label">Status</label>
                        <select class="form-select">
                            <option>Published</option>
                            <option>Draft</option>
                        </select>
                    </div> -->
                    <!-- <div class="mb-4">
                        <label class="form-label">Tags</label>
                        <input type="text" placeholder="Type here" class="form-control">
                    </div>
                    <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Tech</a>
                    <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Mobile</a>
                    <a href="#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Apple</a>
                    <hr> -->
                    <!-- <h5 class="mb-3">Categories</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat">
                        <label class="form-check-label" for="product-cat"> Cameras </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-1">
                        <label class="form-check-label" for="product-cat-1"> Lenses </label>
                    </div> -->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-2">
                        <label class="form-check-label" for="product-cat-2"> Sneakers </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-3">
                        <label class="form-check-label" for="product-cat-3"> Joggers </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-4">
                        <label class="form-check-label" for="product-cat-4"> Vests </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-5">
                        <label class="form-check-label" for="product-cat-5"> Knitwear </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="product-cat-8">
                        <label class="form-check-label" for="product-cat-8"> Shorts </label>
                    </div> -->
                </div>
            </div> <!-- card end// -->
        </div>
    </div>
</form>
</section>
<script>
    const nameError = document.getElementById("name-error");
    const submitError = document.getElementById("submit-error");
    const descriptionError = document.getElementById("description-error")
    const priceError = document.getElementById("price-error");
    const quantityerror = document.getElementById("quantity-error");
    const imageError = document.getElementById("image-error")
    function validateForm() {
       let name = validateName()
       let price =  validatePrice()
       let description = validateDescription()
       let quantity = validateQuantity()
       let image = validateImage()
        if (!name || !price || !description || !quantity || !image) {
          submitError.style.display = "flex";
          submitError.style.justifyContent = "center";
          submitError.innerHTML = "Enter valid details";
          setTimeout(() => {
            submitError.style.display = "none";
          }, 3000);
          return false;
        }
        return true
      }
    function validateName() {
      var name = document.getElementById("name").value;
      if (name.length == 0) {
        nameError.innerHTML = "Name is required";
        return false;
      }
      else if(name.length > 10){
        nameError.innerHTML = "Invalid Name"
        return false
      }
      nameError.innerHTML = "";
      return true;
    }
  
    function validatePrice(){
      const priceValue = document.getElementById("price").value;
      if (priceValue.length == 0) {
          priceError.innerHTML = "Price is required";
          return false;
        }
      else if(priceValue <= 0){
        priceError.innerHTML = "Invalid Price";
        return false;
      }
        priceError.innerHTML = "";
        return true;
    }
  
    function validateDescription() {
      var description = document.getElementById("description").value;
      if (description == "") {
        descriptionError.innerHTML = "Description is required";
        return false;
      }
      descriptionError.innerHTML = "";
      return true;
    }
    
    function validateQuantity() {
        var quantity = document.getElementById("quantity").value;
        if(quantity < 0 ){
            quantityerror.innerHTML = "Quantity cannot be a negative value"
            return false
        }
        else if(quantity == 0){
            quantityerror.innerHTML = "Quantity cannot be a zero"
            return false
        }
        else if (quantity.length == 0) {
          quantityerror.innerHTML = "Quantity is required";
          return false;
        }
        quantityerror.innerHTML = "";
        return true;
      }
    function validateImage(){
        const image = document.getElementById('image').value
        if(image.length==0){
            imageError.innerHTML = "Image is Required";
            return false
        }
        imageError.innerHTML=""
        return true
    }
</script>
<%- include('../partials/admin-footer')%>

