<%- include('../partials/admin-header')%>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Add new category</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/add-categories" method="post">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input required type="text" placeholder="Type here" name ='category' class="form-control" id="product_name" />
                        </div>
                        <% if (categoryErr !== "") { %>
                            <p class="text-danger" >Category Already Exist</p>
                        <% } %>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create category</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div> 
</section>
<%- include('../partials/admin-footer')%>
