<%- include('../partials/custom-header')%>
<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
      </div>
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="mb-25">
                      <h4>Add Address</h4>
                  </div>
                  <form action="/address" onsubmit="return validateForm()"  method="post">
                      <div class="form-group">
                          <input type="text" name="name" id="name"  placeholder="Full name *">
                          <span style="color: red;" id="name-error"></span>
                      </div>
                      <div class="form-group">
                          <input type="number" name="number" id="mobilenumber" placeholder="Mobile number*">
                          <span style="color: red;" id="mobileno-error"></span>
                      </div>
                      <div class="form-group">
                          <input type="text" name="address" id="address" placeholder="Address *">
                          <span style="color: red;" id="address-error"></span>
                      </div>
                      <div class="form-group">
                          <input type="text" name="country" id="country" placeholder="Country *">
                          <span style="color: red;" id="country-error"></span>
                      </div>
                      <div class="form-group">
                          <input type="text" name="district" id="district" placeholder="District *">
                          <span style="color: red;" id="district-error"></span>
                      </div>
                      <div class="form-group">
                          <input type="text" name="pincode" id="pincode" placeholder="PIN code *">
                          <span style="color: red;" id="pincode-error"></span>
                      </div>
                      <div class="form-group">
                        <span style="color: red;" id="submit-error"></span>
                        <button class="btn btn-success" type="submit" class="btn_3">Save</button>
                    </div>
                  <input type="text" name="userId" value="<%= user._id %>" hidden>
                  </form>
              </div>
          </div>
      </div>
  </section>
</main>
<script>
  var nameError = document.getElementById("name-error");
  var mobilenoError = document.getElementById("mobileno-error");
  var addressError = document.getElementById("address-error");
  var countryError = document.getElementById("country-error");
  var districtError = document.getElementById("district-error");
  var pincodeError = document.getElementById("pincode-error");
  var submitError = document.getElementById("submit-error");

  function validateName() {
    var name = document.getElementById("name").value;
    if (name.length === 0) {
      nameError.innerHTML = "Name is required";
      return false;
    }
    if (!name.match(/^[A-Za-z]+ [A-Za-z]+$/)) {
      nameError.innerHTML = "Write full name";
      return false;
    }
    nameError.innerHTML = "";
    return true;
  }

  function validateMobileNo() {
    var mobileno = document.getElementById("mobilenumber").value;
    if (mobileno.length === 0) {
      mobilenoError.innerHTML = "Mobile number is required";
      return false;
    }
    mobilenoError.innerHTML = "";
    return true;
  }

  function validateAddress() {
    var address = document.getElementById("address").value;
    if (address.length === 0) {
      addressError.innerHTML = "Address is required";
      return false;
    }
    addressError.innerHTML = "";
    return true;
  }

  function validateCountry() {
    var country = document.getElementById("country").value;
    if (country.length === 0) {
      countryError.innerHTML = "Country is required";
      return false;
    }
    countryError.innerHTML = "";
    return true;
  }

  function validateDistrict() {
    var district = document.getElementById("district").value;
    if (district.length === 0) {
      districtError.innerHTML = "District is required";
      return false;
    }
    districtError.innerHTML = "";
    return true;
  }

  function validatePincode() {
    var pincode = document.getElementById("pincode").value;
    if (pincode.length === 0) {
      pincodeError.innerHTML = "Pincode is required";
      return false;
    }
    pincodeError.innerHTML = "";
    return true;
  }

  function validateForm() {
    var name = validateName();
    var mobileno = validateMobileNo();
    var address = validateAddress();
    var country = validateCountry();
    var district = validateDistrict();
    var pincode = validatePincode();

    if (!name || !mobileno || !address || !country || !district || !pincode) {
      submitError.style.display = "flex";
      submitError.style.justifyContent = "center";
      submitError.innerHTML = "Please fix all errors to submit";
      setTimeout(() => {
        submitError.style.display = "none";
      }, 3000);
      return false;
    }
    return true;
  }
</script>
<%- include('../partials/custom-footer')%>