<%- include('../partials/custom-header')%>
<main class="main">
    <div class="page-header breadcrumb-wrap">
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <img src="customassets/imgs/theme/icons/empty-cart.png" alt="" style="display: block; margin: 0 auto; max-width: 100%; height: auto;">
                    </div>
                    <h1 style="text-align: center; margin-top: 20px;">
                        Your Cart is empty<br>
                        <a class="btn btn-info" href="/">Continue Shopping</a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../partials/custom-footer')%>
