<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login in</title>
    Font Icon
    <link rel="stylesheet" href="userassets/fonts/material-icon/css/material-design-iconic-font.min.css">
   Main css
    <link rel="stylesheet" href="userassets/css/styles.css">
</head>
<body>
    <div class="main">
        Sing in  Form
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/user-signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Change Password</h2>
                        <form action="/forgot-password" method="post">
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input onkeyup="validateNewPassword()" type="password" name="newPassword" value="" id="newPassword" placeholder="Enter new Password"/>
                                <span id="newPasswordError" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input onkeyup="validateConfirmPassword()" type="password" name="confirmPassword" value="" id="confirmPassword" placeholder="Confirm Password"/>
                                <span id="confirmPasswordError"  style="color: red;"></span>
                            </div>
                            <input type="number" name="mobileno" value="<%#= mobileno %>" style="display:none;">
                              <span id="matchError" style="color: red;" class=" text-danger"></span>
                              <button type="submit" onclick="validateForm()">Save</button>     
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var confirmPasswordError = document.getElementById('confirmPasswordError');
        var newPasswordError = document.getElementById('newPasswordError')
        function validateNewPassword(){
            var password = document.getElementById('newPassword').value;
            var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if(password.match(passChecker)){
                newPasswordError.innerHTML = '';
              return true;
            }else{
                newPasswordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
              return false;
            }
          }
          function validateConfirmPassword(){
            var password = document.getElementById('confirmPassword').value;
            var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if(password.match(passChecker)){
                confirmPasswordError.innerHTML = '';
              return true;
            }else{
                confirmPasswordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
              return false;
            }
          }
          function validateForm(){
            let newPassword = document.getElementById('newPassword').value
            let confirmPassword = document.getElementById('confirmPassword').value
            let matchError = document.getElementById('matchError')
            if(newPassword!==confirmPassword){  
                  matchError.innerHTML = 'Password does not match'
                  return false
            }
            if(!validateNewPassword() || !validateConfirmPassword()){
              submitError.style.display='flex';
              submitError.style.justifyContent='center';
              submitError.innerHTML = 'Please fix all errors to submit';
              setTimeout(()=>{
                submitError.style.display='none';
              },3000);
              return false;
            }
            return true
          }
    </script>
</body>
</html> -->



<%- include('../partials/custom-header')%>
<section class="pt-150 pb-150">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 m-auto">
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-5">
                      <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                          <div class="padding_eight_all bg-white">
                              <div class="heading_s1">
                                  <h3 class="mb-30">Login</h3>
                              </div>
                              <form action="/forgot-password" method="post">
                                  <div class="form-group">
                                      <input onkeyup="validateNewPassword()" type="password" value="" required="" name="newPassword" id="newPassword" placeholder="New Password">
                                      <span id="newPasswordError" style="color: red;"></span>
                                  </div>
                                  <div class="form-group">
                                      <input onkeyup="validateConfirmPassword()" value="" required="" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                                      <span id="confirmPasswordError"  style="color: red;"></span>
                                  </div>
                                  <div class="form-group">
                                    <input type="number" name="mobileno" value="<%= mobileno %>" style="display:none;">
                                      <button type="submit" onclick="return validateForm()" class="btn btn-fill-out btn-block hover-up" name="login">Save</button>
                                      <span id="matchError" style="color: red;" class=" text-danger"></span>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script>
  var confirmPasswordError = document.getElementById('confirmPasswordError');
  var newPasswordError = document.getElementById('newPasswordError')
  function validateNewPassword(){
      var password = document.getElementById('newPassword').value;
      var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
      if(password.match(passChecker)){
          newPasswordError.innerHTML = '';
        return true;
      }else{
          newPasswordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
        return false;
      }
    }
    function validateConfirmPassword(){
      var password = document.getElementById('confirmPassword').value;
      var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
      if(password.match(passChecker)){
          confirmPasswordError.innerHTML = '';
        return true;
      }else{
          confirmPasswordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
        return false;
      }
    }
    function validateForm(){
      let newPassword = document.getElementById('newPassword').value
      let confirmPassword = document.getElementById('confirmPassword').value
      let matchError = document.getElementById('matchError')
      if(newPassword!==confirmPassword){  
            matchError.innerHTML = 'Password does not match'
            return false
      }
      if(!validateNewPassword() || !validateConfirmPassword()){
        submitError.style.display='flex';
        submitError.style.justifyContent='center';
        submitError.innerHTML = 'Please fix all errors to submit';
        setTimeout(()=>{
          submitError.style.display='none';
        },3000);
        return false;
      }
      return true
    }
</script>
<%- include('../partials/custom-footer')%>    
