<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIXELPROS</title>
    <link rel="icon" type="image/png" href="images/icons/App-Logo.jpg" />
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="App-logo">
        <img class="logo" src="images/icons/App-Logo.jpg" alt="App-Logo">
        <span class="App-name">PIXELPROS</span>
    </div>
    <div class="main-container">
        <div class="login-container">
            <div class="login-img-container">
                <img class="login-image" src="images/Login-Image.png" alt="">
            </div>
            <div class="login-form-container">
                <div class="login-text">
                    <span>Login</span>
                </div>
                <form action="/login" method="post">
                    <div class="form-container">
                        <div class="form">
                            <div class="details">
                                <label class="labels">EmailID</label>
                                <input type="text" class="inputs" placeholder="Enter your email" required=""
                                    name="email" id="email">
                            </div>
                            <div class="details">
                                <label class="labels">Password</label>
                                <input type="password" required="" class="inputs" name="password"
                                    placeholder="Enter your password">
                            </div>
                            <div class="details">
                                <a class="forgot-password" href="/otp-changePassword">Forgot Password?</a>
                            </div>
                            <div class="details">
                                <button class="login-button" name="login" type="submit">LOGIN</button>
                                <button class="otp-button">LOGIN WITH OTP</button>
                            </div>
                            <div class="signup-account">
                                <a class="new-account" href="/signup">Create new account</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>