<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PIXELPROS</title>
  <link rel="icon" type="image/png" href="images/icons/App-Logo.jpg" />
  <link rel="stylesheet" href="css/signup.css">
</head>

<body>
  <div class="App-logo">
    <img class="logo" src="images/icons/App-Logo.jpg" alt="App-Logo">
    <span class="App-name">PIXELPROS</span>
  </div>
  <div class="main-container">
    <div class="login-container">
      <div class="login-img-container">
        <img class="login-image" src="images/Login-Image.png" alt="">
      </div>
      <div class="login-form-container">
        <div class="login-text">
          <span>Sign Up</span>
        </div>
        <form action="/signup" method="post">
          <div class="form-container">
            <div class="form">
              <div class="details">
                <input type="text" class="inputs" placeholder="Username" required="" name="username">
              </div>
              <div class="details">
                <input type="text" required="" class="inputs" name="email" placeholder="Email">
              </div>
              <div class="details">
                <input type="text" required="" class="inputs" name="mobileno" placeholder="MobileNo">
              </div>
              <div class="details">
                <input type="password" required="" class="inputs" name="password" placeholder="Password">
              </div>
              <div class="details">
                <input type="password" required="" class="inputs" id="confirm-password" placeholder="Confirm">
                <input type="number" value="0" name="wallet" hidden>
              </div>
              <div class="details">
                <a class="forgot-password" href="/otp-changePassword">Forgot Password?</a>
              </div>
              <div class="details">
                <button class="login-button" type="submit">CREATE ACCOUNT</button>
              </div>
              <div class="signup-account">
                <span class="question">Already have an account? </span>
                <a class="new-account" href="/login">Login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>